:host {
  display: block;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 3em; /* Ensure it always takes up 2 lines worth of height */
}
::ng-deep .workspace-action-menu .delete-item .p-menu-item-link .p-menu-item-icon,
::ng-deep .workspace-action-menu .delete-item .p-menu-item-link .p-menu-item-label {
  color: #ef4444 !important;
}

::ng-deep .workspace-action-menu .delete-item:hover .p-menu-item-link .p-menu-item-icon,
::ng-deep .workspace-action-menu .delete-item:hover .p-menu-item-link .p-menu-item-label {
  color: #dc2626 !important;
}
