:host ::ng-deep .notification-detail-dialog .p-dialog-header {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

:host ::ng-deep .notification-detail-dialog .p-dialog-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

:host ::ng-deep .notification-detail-dialog .p-dialog-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
